<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="aipu store admin.">
    <meta name="author" content="Wilson H. Ji">
    <link rel="icon" href="../../favicon.ico">

    <title>Aipu Store Admin</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet">
    <link href="css/spinner.css" rel="stylesheet">
    <link rel="stylesheet" href="css/animate.css">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- // <script src="js/ie-emulation-modes-warning.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="js/generator.js"></script>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">艾普商城，为用户创造更高的价值！</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            
          </ul>
          
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
<!--             <li class="active"><a href="/">艾普商城后台<span class="sr-only">(current)</span></a></li>
 -->            <li><a href="/">添加产品</a></li>            
            <li><a href="/queryAndDeletePage">查询或删除</a></li>
            <li><a style="color:#222;"href="/queryCategoryPage">查询类别</a></li>
            <li><a href="/modifyPage">修改产品</a></li>
          </ul>
          
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">修改产品</h1>
      
          

          <h3 class="sub-header">请输入货物的名称或是ID以进行修改</h3>
          <div id="queryCoulumns"class="col-xs-6 col-sm-6 placeholder">
            <input id="queryGoodsName" type="text" class="form-control" placeholder="指定产品名称">
            <button id="mgetGoodsByName" class="btn btn-primary">点击以名称查询!</button>
            <input id="queryGoodsID" type="text" class="form-control" placeholder="指定产品ID">
              <button id="mgetGoodsByID" class="btn btn-primary" >点击以ID查询!</button>
            <div class="spinner">
              <div class="rect1"></div>
              <div class="rect2"></div>
              <div class="rect3"></div>
              <div class="rect4"></div>
              <div class="rect5"></div>
              <p>正努力为您加载中！</p>
            </div>
          </div>
          <div id="modifyCoulumns" class="col-xs-6 col-sm-6 placeholder">
            <div style="width:90%; margin: 10px left;" class="quickAddInformation">
              产品ID<input id="goodsID" type="text" class="form-control " placeholder="goodsID">
              <input id="categoryID" type="text" class="form-control mar" placeholder="categoryID">
              <input id="name" type="text" class="form-control mar" placeholder="name">
              <input id="categoryName" type="text" class="form-control mar" placeholder="categoryName">
              <input id="desc" type="text" class="form-control mar" placeholder="desc">
              <input id="price" type="text" class="form-control mar" placeholder="price">
              <input id="bigImgURL" type="text" class="form-control mar" placeholder="ImgURL">
              <!-- <input id="smallImgURL" type="text" class="form-control mar" placeholder="smallImgURL"> -->
              <input id="stock" type="text" class="form-control mar" placeholder="stock">
              <input id="props" type="text" class="form-control mar" placeholder="hot">
              <input id="publicKey" type="text" class="form-control mar" placeholder="publicKey">
              <div style="margin: 5px auto;">
                <button id="confirmButton" class="btn btn-warning">修改</button>
                <button id="cancelButton" class="btn btn-info">取消</button>
                <!-- <a id="moreInformationButton">more detail</a> -->
              </div>
            </div> 
          </div>
          
      
          <div id="modifyGoodView" class="row placeholders">
            <!-- <div class="col-xs-6 col-sm-6 placeholder">
              <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
              <h3>iPhone 6 Plus</h3>
              <h4>ID: 9921</h4>
              <h5>¥21900</h5>
              <p>Stock:1222</p>
              <span class="text-muted">Something else</span>
            </div> -->
            
          </div>

          

          
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
    <script src="js/modify.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
